html,
body {
  margin: 0;
  font: 30px Arial sans-serif;
  box-sizing: border-box;
}

.calendar {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template: 100px / repeat(7, 100px);
  grid-gap: 1px;
}

.calendar > div {
  position: relative;
  height: 100px;
  background-color: #eee;
  border: 1px solid black;
  cursor: pointer;
  transition: 1s;
}

.calendar > div:nth-child(n + 29) {
  display: none;
}

.calendar > div:hover {
  background-color: pink;
  transform: translateY(-20px);
}

@for $days-in-month from 29 through 31 {
  .calendar-#{$days-in-month} > div:nth-child(-n + #{$days-in-month}){
    display: block;
  }
}

.calendar > div::after {
  position: absolute;
  line-height: 100px;
  width: 100%;
  text-align: center;
}

@for $num from 1 through 31 {
  .calendar div:nth-child(#{$num})::after {
    content: "#{$num}";
  }
}

$week: (mon: 1, tue: 2, wed: 3, thu: 4, fri: 5, sat: 6, sun: 7);

@each $week-day, $day in $week {
  .calendar-#{$week-day} div:first-of-type {
    grid-column: #{$day} / #{$day + 1};
  }
}
